/* print */

@media print {
    a[href]:after {
        content: "" !important;
    }

    abbr[title]:after {
        content: "" !important;
    }
}

/* elements */

html {
    overflow-x: auto;
    overflow-y: scroll;
}

body {
    background-color: #fff;
}

div.nheader {
    position: sticky;
    top: 30px;
    background-color: #fff;
    z-index: 9990;
}

.focused, a[id]:focus, [tabindex]:focus {
    color: red;
    outline: none;
    background-color: antiquewhite;
}

h1 {
    position: fixed;
    top: 0;
    margin-top: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 4px;
    background: #336699;
    color: #fff;
    width: 100%;
    z-index: 10000;
}

h1 a {
    color: #fff;
}

h1 small {
    color: #eee;
}

h2 {
    color: #793862;
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
    border-bottom: 2px solid #dddddd;
}

h3 {
    color: #793862;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 1px solid #dddddd;
}

h4 {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    margin: 6px;
}

h5 {
    color: #333;
    font-size: 15px;
    margin: 4px 0;
}

h6 {
    color: #333;
    font-size: 14px;
    margin: 2px 0;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

pre {
    padding: 0;
}

small {
    font-size: 81% !important;
    color: #555;
}

var {
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 81%;
    color: #555;
    white-space: pre-wrap;
}

caption {
    padding: 0;
    border-bottom: 1px solid #ddd;
}

blockquote {
    font-size: 1em;
    border-left: 5px solid #ddd;
}

ul,
ol {
    padding: 0;
}

ul > li {
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #a9a9a9;
}

/* utility */

.display-none {
    display: none;
}

.switch-holding {
    cursor: pointer;
}

.holding {
    display: none;
}

.has-indent {
    margin-left: 14px;
}

.indent {
    position: relative;
}

.indent:before {
    content: "";
    position: absolute;
    top: 0;
    left: -0.5em;
    height: 100%;
    border-left: 1px solid #aaa;
}

.indent:last-child:before {
    height: 1rem;
}

.indent:after {
    content: "";
    position: absolute;
    top: 1rem;
    left: -0.5em;
    width: 0.5em;
    border-bottom: 1px solid #aaa;
}

.iblock {
    display: inline-block;
}

.italic {
    font-style: italic !important;
}

.bold {
    font-weight: bold !important;
}

.strike {
    text-decoration: line-through !important;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.faint {
    opacity: 0.65;
}

.type-separator:before {
    content: '|';
    color: #a1a1a1;
    margin: 0 2px;
}

/* usecase */

.main-wrapper {
    padding: 0 0.7em;
    margin-top: 36px;
}

#search {
    font-weight: normal;
    font-size: 14px;
    display: inline;
    width: calc(100% - 11.1em);
    height: 100%;
    padding: 2px;
}

h1 a, h1 a:hover, h1 a:focus {
    color: #ff9c9c;
}

.typeahead.dropdown-menu {
    z-index: 10002;
    left: 0 !important;
    width: 100%;
}

.hierarchy {
    max-height: 12em;
    overflow-y: auto;
}

.hierarchy:empty {
    display: none;
}

.description {
    word-break: break-all;
    margin-bottom: 12px;
    padding-top: 5px;
}

.description:last-child {
    margin-bottom: 4px;
}

.description:empty {
    display: none;
}

.description > * {
    margin-bottom: 0.75em;
}

.description h1,
.description h2,
.description h3,
.description h4,
.description h5,
.description h6 {
    position: static;
    color: #592842;
    background: #eef3ff;
    margin: 2px 0;
    padding: 4px;
    border: none;
    font-weight: bold;
}

.description li {
    margin-left: 2.0rem;
}

.description ul > li {
    list-style: disc;
}

.description ol > li {
    list-style: decimal;
}

.description ol > li > ol > li {
    list-style: lower-alpha;
}

.description ol > li > ol > li > ol > li {
    list-style: lower-roman;
}

.description table.table {
    table-layout: auto;
}

.description table.table > thead {
    white-space: nowrap;
}

.description code {
    font-size: 12px;
    overflow-x: auto;
    white-space: pre;
}

.using li {
    margin-left: 2.0rem;
}

.category-name {
    font-size: 111%;
    font-weight: normal;
    color: #333;
}

td.type {
    width: 35%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

td.desc {
    width: 40%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

td.rest {
    width: 25%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.source-link {
    vertical-align: middle;
}

.attribute {
    float: right;
    border-radius: 4px;
    padding: 3px 3px 3px 0;
}

.structure-item {
    white-space: normal;
    border-radius: 2px;
    border: 1px solid #beadb0;
    margin-bottom: 6px;
    padding: 0;
    background-color: #fff;
}

.structure-item .structure-title {
    padding: 6px;
    margin: 0;
    background: #f3f3f3;
}

.structure-item .inner-item {
    border-top: 1px solid #beadb0;
    padding: 0 6px;
}

.structure-item .description:empty {
    display: block;
}

.structure-item .description:empty:before {
    content: '- no description -';
    color: #aaa;
}

/* bootstrap */

.table {
    margin-bottom: 10px;
    table-layout: fixed;
}

.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 2px 8px 0;
    border-top: none;
    border-bottom: 1px dashed #ddd;
}

.glyphicon {
    vertical-align: text-top;
}

.glyphicon-accessible {
    padding-left: 2px;
    padding-right: 2px;
}

.glyphicon-private::before {
    font-size: 6px;
    content: "\e033";
    color: #f05e4e;
}

.glyphicon-protected::before {
    font-size: 6px;
    content: "\e063";
    color: #ff9418;
}

.glyphicon-public::before {
    font-size: 6px;
    content: "\e135";
    color: #0a8004;
}

.glyphicon-magic::before {
    font-size: 6px;
    content: "\e165";
    color: #5f94f3;
}

.label-icon {
    font-size: 12px;
    display: inline-block;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    padding: 1px 0 0 0;
}

.label-namespace {
    background-color: #505050;
}

.label-constant {
    background-color: #808080;
}

.label-function {
    background-color: #5cb85c;
}

.label-interface {
    background-color: #b4a7e5;
}

.label-trait {
    background-color: #f0ad4e;
}

.label-class {
    background-color: #337ab7;
}

.label-property {
    background-color: #f792a3;
}

.label-method {
    background-color: #070880;
}

.label-internal {
    background-color: #707070;
}

.label-deprecated {
    background-color: #222222;
}

.label-private {
    background-color: #d9534f;
}

.label-protected {
    background-color: #f0ad4e;
}

.label-public {
    background-color: #5cb85c;
}

.label-magic {
    background-color: #337ab7;
}
